target/
trauma-android/target/
trauma-android/bin/
trauma-android/.classpath
trauma-android/.project
trauma-android/.settings/
trauma-android/gen
trauma-android/project.properties
trauma-android/default.properties
trauma-backend/.settings/
trauma-backend/.classpath
trauma-backend/.project
