html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*	start styles for the ContextMenu	*/
.context_menu {
	background-color: white;
	border: 1px solid gray;
}

.context_menu_item {
	padding: 3px 6px;
}

.context_menu_item:hover {
	background-color: #CCCCCC;
}

.context_menu_separator {
	background-color: gray;
	height: 1px;
	margin: 0;
	padding: 0;
}

#clearDirectionsItem,#getDirectionsItem {
	display: none;
}
/*	end styles for the ContextMenu	*/
#map_canvas {
	background: #000;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 30px;
	top: 0px;
	z-index: 1;
}

#descbox p ,#editbox p{
	text-align: left;
}

#traumaCaption {
	text-align: right;
	color: orange;
	text-shadow: 0px 2px 3px red;
	font-size: 150%;
}

#logo {
	top: 10px;
	left: 20px;
	position: absolute;
	/*display: none;*/
	z-index: 10;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px; /* Height of the footer */
	background: black;
}


/*Start of Description Box Definition*/
#descbox,#editbox {
	text-align: center;
	box-shadow: 3px 3px 1px #888888;
	border: 2px solid;
	border-radius: 15px;
	background-color: white;
	padding: 10px;
	position: fixed;
	top: 15%;
	bottom: 25%;
	left: 20px;
	width: 220px;
	height: 285px;
	z-index: 3;
	background-image: linear-gradient(bottom, rgb(255,204,0) 24%, rgb(255,119,0) 67%);
	background-image: -o-linear-gradient(bottom, rgb(255,204,0) 24%, rgb(255,119,0) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(255,204,0) 24%, rgb(255,119,0) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,204,0) 24%, rgb(255,119,0) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(255,204,0) 24%, rgb(255,119,0) 67%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.24, rgb(255,204,0)),
	color-stop(0.67, rgb(255,119,0))
);

}

#descfield, #editBoxDescfield {
	top: 45px;
	height: 60%;
	bottom: 40px;
	background-color: white;
	border-radius: 17px;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  	font-size: 15px;
  	color: #ff7700;
  	text-align: center;
  	padding-left: 6;
  	padding-top: 10;
  	padding-right: 6;
}

textarea {
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
	resize: none;
}

#editBoxGeoloc, #geoloc {
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 5px;
	width: 75%;
	height: 38px;
	margin: 0px auto; /*Autocenter*/
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  	font-size: 12px;
  	color: #black;
  	font-weight: bold;
  	text-align: center;
  	border-radius: 8px;
  	background-color: white;

}


/*Cancel and Del button CSS*/

#cancelBtn, #delBtn{
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;

	margin: 5px;
	width: 85px;
	bottom: 10px;
}
#cancelBtn:hover, #delBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83) );
	background:-moz-linear-gradient( center top, #e4685d 5%, #fc8d83 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
	background-color:#e4685d;
}
#cancelBtn:active, #delBtn:active {
	position:relative;
	top:1px;
}


/*Edit and save buttons CSS*/


#editBtn,#saveBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;

	margin: 5px;
	width: 85px;
	bottom: 10px;
}
#editBtn:hover,#saveBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
#editBtn:active,#saveBtn:active {
	position:relative;
	top:1px;
}



#lat, #lng, #response, #actualMarkerID{
	display: none;
}

/*END of Description Box Definition*/